/* Untuk Navbar Section */
    .navbar {
        transition: all 0.3s;
        background-color: #036925; /* Warna latar belakang transparan saat awal */
      
    }
    .navbar a strong {
        color: white;
        font-size: 18px;
    }

    .navbar-scrolled {
        background-color: #830000; /* Warna latar belakang ketika di-scroll */
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Efek bayangan pada navbar ketika di-scroll */
    }
    .navbar a strong:hover {
        color: #F8DE22;
    }
    
    .parallax1 {
            background-image: url('https://images.pexels.com/photos/3679525/pexels-photo-3679525.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2');
            height: 930px;
            background-attachment: fixed;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }

        .parallax2 {
            background-image: url('https://images.pexels.com/photos/9889178/pexels-photo-9889178.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2');
            height: 930px;
            background-attachment: fixed;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }

        .parallax3 {
            background-image: url('https://images.pexels.com/photos/1178337/pexels-photo-1178337.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2');
            height: 930px;
            background-attachment: fixed;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
        
      .header a:hover{
          color: #F8DE22;
      }  
       
    
    
    /* Untuk About Section */
    .about {
        padding:50px;
        
        
    }
    .about img{
        height: 17cm;
        width: 13cm;
    }
    .about h3{
        font-size: 45px;
        color:  #34A853;
    }
    .about h2{
        font-size: 35px;
    }
    .about p{
        font-size: 20px;
    }
    .about h4 strong:hover {
        color:#FFC436;
    }
    .about h4{
        font-size: 20px;
    }
    .parallax5 {
        background-image: url('https://img.freepik.com/free-photo/watercolor-paper-texture_1194-6307.jpg?size=626&ext=jpg'); 
        background-attachment: fixed;
    }
    
    
    
    /* Untuk Reason Section */
    .reason{
        padding-top:30px;
        padding-bottom:30px;
    }
    .reason p{
        font-size: 20px;
    }
    .reason h2{
        font-size:40px;
    }
    .content-box {
    	padding: 32px 28px;
    	margin: 0 0 20px;
    	text-align: center;
    	cursor: pointer
    }
    .content-box p {
    	margin: 1;
    	color: #fff
    	
    }
    .content-box h3 {
    	line-height: 26px;
    	padding-bottom: 8px;
    	color: #fff;
    	font-weight: 600
    }
    
    .content-box i {
    	font-size: 80px;
    	height: 80px;
    	color: #fff;
    	margin: 10px 0;
    	display: block
    }
    
    .content-box.color-effect-1 {
    	background: #38c782
    }
    .box-icon i {
    	display: inline-block;
    	font-size: 0;
    	cursor: pointer;
    	margin: 15px 0;
    	width: 90px;
    	height: 90px;
    	border-radius: 50%;
    	text-align: center;
    	position: relative;
    	z-index: 1;
    	color: #fff
    }
    .box-icon i:after {
    	pointer-events: none;
    	position: absolute;
    	width: 100%;
    	height: 100%;
    	border-radius: 50%;
    	content: '';
    	-webkit-box-sizing: content-box;
    	-moz-box-sizing: content-box;
    	box-sizing: content-box
    }
    .box-icon i:before {
    	speak: none;
    	font-size: 40px;
    	line-height: 90px;
    	font-style: normal;
    	font-weight: 400;
    	font-variant: normal;
    	text-transform: none;
    	display: block;
    	-webkit-font-smoothing: antialiased
    }
    .box-icon-effect-1 .box-icon i {
    	background: rgba(255, 255, 255, .2);
    	color: #fff;
    	-webkit-transition: background .2s, color .2s;
    	-moz-transition: background .2s, color .2s;
    	transition: background .2s, color .2s
    }
    .box-icon-effect-1 .box-icon i:after {
    	top: -7px;
    	left: -7px;
    	padding: 7px;
    	box-shadow: 0 0 0 4px #fff;
    	-webkit-transition: -webkit-transform .2s, opacity .2s;
    	-webkit-transform: scale(.8);
    	-moz-transition: -moz-transform .2s, opacity .2s;
    	-moz-transform: scale(.8);
    	-ms-transform: scale(.8);
    	transition: transform .2s, opacity .2s;
    	transform: scale(.8);
    	opacity: 0
    }
    .content-box:hover .box-icon-effect-1a .box-icon i {
    	background: #fff;
    	color: #3acf87
    }
    .content-box:hover .box-icon-effect-1a .box-icon i:after {
    	-webkit-transform: scale(1);
    	-moz-transform: scale(1);
    	-ms-transform: scale(1);
    	transform: scale(1);
    	opacity: 1
    }
    .box-icon-effect-2 .box-icon i {
    	box-shadow: 0 0 0 4px #fff;
    	overflow: hidden;
    	-webkit-transition: background .3s, color .3s, box-shadow .3s;
    	-moz-transition: background .3s, color .3s, box-shadow .3s;
    	transition: background .3s, color .3s, box-shadow .3s;
    	color: #fff
    }
    
    
    
    
    /* Untuk Product Section */
    .product{
        padding-top:20px;
        padding-bottom:20px;
        
    }
    .product .card{
        background-color:#FAFDD6;
        border-color: #0F0F0F;
        margin-bottom: 20px;
    }
    .hover-overlay{
          transition: all 0.3s;
    }
    
    .product h4{
        color:#258b40;
        font-size: 30px;
     }
    .product h2{
        font-size:40px;
    }
    .product h3{
        color:#000000;
       
     }
     .product h5{
        color:#000000;
        
     }
     .product p{
         font-size: 18px;
     }
    .product-card {
        border-width: 10px;
        border-color: #001524;
        margin: 20px;
    }
    .product-card:hover {
         transform: scale(1.05); 
    }
    .product-description {
         padding: 15px;
        text-align: center;
    }
   
    
    
    /* Untuk Rule Seection */
    .rule{
        padding-top:30px;
        padding-bottom:30px;
    }
    .rule h2{
        font-size:40px;
    }
    .gold-star {
      color: gold;
    }
    .rule .container {
    margin: 50px auto;
    }
    .fas.fa-shopping-basket,
    .fa.fa-whatsapp,
    .fa.fa-money,
    .fa.fa-truck  {
        width: 220px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px 25px;
        position: relative;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    
    }
    .fas.fa-shopping-basket,
    .fa.fa-whatsapp,
    .fa.fa-money,
    .fa.fa-truck {
        font-size: 40px;
        background-color: #0000000d;
        height: 100px;
        width: 100px;
        display: center;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        color: #4e9525;
    }
    .rule .card .h4 {
        font-weight: 700;
    }
    .fas.fa-shopping-basket:hover,
    .fa.fa-whatsapp:hover,
    .fa.fa-money:hover,
    .fa.fa-truck:hover {
        color: gold;
        background-color: #4e9525;
    }
    
    
    
    
    /* Untuk Video Section */
    .video h2{
        font-size:40px;
        font-weight:bold;
        font-family: 'Pacifico', cursive;
        color:#fff;
    }
    .video p{
        font-size:25px;
        font-weight:bold;
        color: #fff;
    }
    .video{
        height:20cm;
    }
    .parallax4 {
        background-image: url('https://images.pexels.com/photos/598917/pexels-photo-598917.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2'); /* Ganti dengan URL gambar latar belakang */
        background-attachment: fixed;
        background-size: cover;
        background-position: center;
        min-height: 700px;
        padding-top:10px;
        padding-bottom:10px;
        
        
    }
    
    
    
    
    
    /* Untuk Testimoni Section */
    .testimoni h2 {
    	color: #000;
    	font-size: 35px;
    	font-weight: 300;
    	text-align: center;
    	position: relative;
    	margin: 30px 0 60px;
    	color:#fff;
    }
    .testimoni h2::after {
    	content: "";
    	width: 300px;
    	position: absolute;
    	margin: 0 auto;
    	height: 4px;
    	border-radius: 1px;
    	background: white;
    	left: 0;
    	right: 0;
    	bottom: -20px;
    	
    }
    .subtestimoni .hover {
      overflow: hidden;
      position: relative;
      padding-bottom: 60%;
    }

    .subtestimoni .hover-overlay {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 90;
      transition: all 0.4s;
    }

    .subtestimoni .hover img {
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      transition: all 0.3s;
    }

    .subtestimoni .hover-content {
      position: relative;
      z-index: 99;
    }


    /* DEMO 1 ============================== */
    .subtestimoni .hover-1 img {
      width: 105%;
      position: absolute;
      top: 0;
      left: -5%;
      transition: all 0.3s;
    }

    .subtestimoni .hover-1-content {
      position: absolute;
      bottom: 0;
      left: 0;
      z-index: 99;
      transition: all 0.4s;
    }

    .subtestimoni .hover-1 .hover-overlay {
      background: rgba(0, 0, 0, 0.5);
    }

    .subtestimoni .hover-1-description {
      transform: translateY(0.5rem);
      transition: all 0.4s;
      opacity: 0;
    }

    .subtestimoni .hover-1:hover .hover-1-content {
      bottom: 2rem;
    }

    .subtestimoni .hover-1:hover .hover-1-description {
      opacity: 1;
      transform: none;
    }

    .subtestimoni .hover-1:hover img {
      left: 0;
    }

    .subtestimoni .hover-1:hover .hover-overlay {
      opacity: 1;
    }

    
    
    .testimoni{
        background-color:#34A853;
    }
    .subtestimoni{
        background-color:#34A853;
    }
  
 
   
  
 
    
    
    /* Untuk FAQ Section */
    .faq{
	background-color: #34A853;
	padding: 100px;
    }
    
    .accordion .card {
    	background: none;
    	border: none;
    	font-size:20px;
    }
    .accordion p {
        color:#fff;
    	font-size:20px;
    }
    .accordion .card .card-header {
    	background: none;
    	border: none;
    	padding: .4rem 1rem;
    	font-family: "Roboto", sans-serif;
    }
    .accordion .card-header h2 span {
    	float: left;
    	margin-top: 10px;
    	color:#fff;
    }
    .accordion .card-header .btn {
    	color: #fff;
    	font-size: 1.04rem;
    	text-align: left;
    	position: relative;
    	font-weight: 500;
    	padding-left: 2rem;
    }
    .accordion .card-header i {
    	font-size: 1.2rem;
    	font-weight: bold;
    	position: absolute;
    	left: 0;
    	top: 9px;
    }
    .accordion .card-header .btn:hover {
    	color: gold;
    }
    
    .page-title {
    	
    	margin: 3rem 0 3rem 1rem;
    	font-family: "Roboto", sans-serif;
    	position: relative;
    	color:#fff;
    }
    .page-title::after {
    	content: "";
    	width: 100px;
    	position: absolute;
    	height: 3px;
    	border-radius: 1px;
    	background: #fff;
    	left: 0;
    	bottom: -15px;
    	
    }

    
    
    /* Untuk Logo Section */
    .logo-section {
      text-align: center;
      padding: 20px;
    }
    .logo-container {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
    }

    .logo-container img {
      width: 240px; 
      height: auto;
      margin: 10px;
      transition: transform 0.3s;
    }

    .logo-container img:hover {
      transform: scale(1.2);
    }
    
    
    
    
    
    /* Untuk Contact Section */
    .contact {
      background-color: #34A853;
      padding-top:30px;
      padding-bottom:30px;
      
      
    }
    .contact h3 {
      color: #fff;
      font-size: 30px;
      font-weight: bold;
    
    }
    .contact h2 {
      color: #fff;
      font-size: 30px;
    }
    .contact p{
      color: #fff;
      font-size: 20px;
    }
    .wabtn .btn {
      background-color: #25d366;
      height:2cm;
      width:9cm;
    }
    
      
    
    
    /* Untuk MAP Section */
    .map{
         padding-top:30px;
         padding-bottom:30px;
    }
    .map-container {
      position: relative;
      
    }
   
    
    
    /* Untuk Footer Section */
    .footer {
      font-size: 14px;
      background-color: #34A853;
      padding: 50px 0;
      color: rgba(255, 255, 255, 0.7);
    }

    .footer .icon {
      margin-right: 15px;
      font-size: 24px;
      line-height: 0;
    }
    
     .footer h2 {
         color: white;
    }

    .footer h4 {
      font-size: 16px;
      font-weight: bold;
      position: relative;
      padding-bottom: 5px;
      color: #fff;
    }

    .footer .footer-links {
      margin-bottom: 30px;
    }

    .footer .footer-links ul {
      list-style: none;
      padding: 0;
      margin: 0;
    }

    .footer .footer-links ul li {
      padding: 10px 0;
      display: flex;
      align-items: center;
    }

    .footer .footer-links ul li:first-child {
      padding-top: 0;
    }

    .footer .footer-links ul a {
      color: rgba(255, 255, 255, 0.6);
      transition: 0.3s;
      display: inline-block;
      line-height: 1;
    }

    .footer .footer-links ul a:hover {
      color: #fff;
    }

    .footer .social-links a {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      border: 1px solid rgba(255, 255, 255, 0.2);
      font-size: 16px;
      color: rgba(255, 255, 255, 0.7);
      margin-right: 10px;
      transition: 0.3s;
    }

    .footer .social-links a:hover {
      color: #fff;
      border-color: #fff;
    }

    .footer .copyright {
      text-align: center;
      padding-top: 30px;
      border-top: 1px solid rgba(255, 255, 255, 0.1);
    }

    .footer .credits {
      padding-top: 4px;
      text-align: center;
      font-size: 13px;
    }

    .footer .credits a {
      color: #fff;
    }
    .footer h4 {
        font-size: 20px;
        color:#fff;
    }
    .footer p {
        font-size: 15px;
         color:#fff;
    }
    .footer p strong {
        font-size: 15px;
         color:#fff;
    }
    
    
    
    /* Untuk WA Button Kanan Bawah */
   .floating {
     position: fixed;
     width: 60px;
     height: 60px;
     bottom: 40px;
     right: 40px;
     background-color: #25d366;
     color: #fff;
     border-radius: 50px;
     text-align: center;
     font-size: 30px;
     box-shadow: 2px 2px 3px #999;
     z-index: 100;
    }
    
    .fab-icon {
     margin-top: 16px;
    }
   
    
    
    
    
    :root {
    --green: #34A853;
    --darkgreen: #1A5D1A;
    --platinum: #e5e5e5;
    --black: #2b2d42;
    --white: #fff;
    --thumb: #edf2f4;
}


.rules .container {
    max-width: 1400px;
    padding: 0 15px;
    margin: 0 auto;
}

.rules .h2 {
    font-size: 32px;
    margin-bottom: 1em;
}

.cards {
    display: grid;
    grid-auto-columns: 100%;
    grid-column-gap: 10px;
    grid-auto-flow: column;
    padding: 25px 0px;
    list-style: none;
    overflow-x: scroll;
    -ms-scroll-snap-type: x mandatory;
    scroll-snap-type: x mandatory;
}

.rules .card {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background: var(--white);
    border-radius: 12px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 15%);
    scroll-snap-align: start;
    transition: all 0.2s;
}

.rules .card:hover {
    color: var(--white);
    background: var(--green);
}

.rules .card .card-title {
    font-size: 20px;
}

.rules .card .card-content {
    margin: 20px 0;
    max-width: 85%;
}

.rules .card .card-link-wrapper {
    margin-top: auto;
}

.rules .card .card-link {
    display: inline-block;
    text-decoration: none;
    color: white;
    background: var(--green);
    padding: 6px 12px;
    border-radius: 8px;
    transition: background 0.2s;
}

.rules .card:hover .card-link {
    background: var(--darkgreen);
}

.rules .cards::-webkit-scrollbar {
    height: 12px;
}

.rules .cards::-webkit-scrollbar-thumb,
.rules .cards::-webkit-scrollbar-track {
    border-radius: 92px;
}

.rules .cards::-webkit-scrollbar-thumb {
    background: var(--darkgreen);
}

.rules .cards::-webkit-scrollbar-track {
    background: var(--thumb);
}

@media (min-width: 500px) {
    .cards {
        grid-auto-columns: calc(50% - 10px);
        grid-column-gap: 20px;
    }
}

@media (min-width: 700px) {
    .cards {
        grid-auto-columns: calc(calc(100% / 3) - 20px);
        grid-column-gap: 30px;
    }
}

@media (min-width: 1100px) {
    .cards {
        grid-auto-columns: calc(25% - 30px);
        grid-column-gap: 40px;
    }
}




.custom-button {
  background-color: #FAFDD6; /* Warna latar belakang */
  color: white; /* Warna teks */
  padding: 10px 10px;
  border: none;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.3s;
  cursor: pointer;
}

.custom-button:hover {
  background-color: #FAFDD6; /* Warna latar belakang saat dihover */
}




.footer-basic {
  padding:40px 0;
  background-color:#ffffff;
  color:#4b4c4d;
}

.footer-basic ul {
  padding:0;
  list-style:none;
  text-align:center;
  font-size:18px;
  line-height:1.6;
  margin-bottom:0;
}

.footer-basic li {
  padding:0 10px;
}

.footer-basic ul a {
  color:inherit;
  text-decoration:none;
  opacity:0.8;
}

.footer-basic ul a:hover {
  opacity:1;
}

.footer-basic .social {
  text-align:center;
  padding-bottom:25px;
}

.footer-basic .social > a {
  font-size:24px;
  width:40px;
  height:40px;
  line-height:40px;
  display:inline-block;
  text-align:center;
  border-radius:50%;
  border:1px solid #ccc;
  margin:0 8px;
  color:inherit;
  opacity:0.75;
}

.footer-basic .social > a:hover {
  opacity:0.9;
}

.footer-basic .copyright {
  margin-top:15px;
  text-align:center;
  font-size:13px;
  color:#aaa;
  margin-bottom:0;
}

 .float i:hover{
     color: #F8DE22;
 }
 .float a:hover{
     color: #F8DE22;
 }
 .testimoni h2:hover{
      color: #F8DE22;
 }
 .faq h2:hover{
      color: #F8DE22;
 }
 .footer h2:hover{
      color: #F8DE22;
 }
 .copyright:hover{
      color: #F8DE22;
 }
 .credits:hover{
      color: #F8DE22;
 }
 .contact h2:hover{
      color: #F8DE22;
 }
 .contact h3:hover{
      color: #F8DE22;
 }
 .contact p:hover{
      color: #F8DE22;
 }
 .product a:hover{
      color: #F8DE22;
 }
document.addEventListener('DOMContentLoaded', function () {
      const navbar = document.querySelector('.navbar');

      function handleScroll() {
        if (window.scrollY > 50) {
          navbar.classList.add('navbar-scrolled');
        } else {
          navbar.classList.remove('navbar-scrolled');
        }
      }

      window.addEventListener('scroll', handleScroll);
    });
    
    
   const description = document.querySelector('.description');
   const readMoreButton = document.getElementById('read-more-button');
   let expanded = false;

   readMoreButton.addEventListener('click', function() {
    if (expanded) {
        description.style.display = 'none';
        readMoreButton.textContent = 'Read More';
    } else {
        description.style.display = 'block';
        readMoreButton.textContent = 'Read Less';
    }
    expanded = !expanded;
    });
    
    
    
     $(document).ready(function () {
        $('.card').click(function () {
            var name = $(this).data('name');
            var price = $(this).data('price');
            var description = $(this).data('description');
            
            $('#productName').text(name);
            $('#productPrice').text(price);
            $('#productDescription').text(description);
            
            $('#productModalLabel').text(name);
            $('#modalProductDescription').text(description);
            
            $('.product-details').show();
        });
        
        $('#productModal').on('hidden.bs.modal', function () {
            $('.product-details').hide();
        });
    });
